In [1]:
import pandas as pd
import numpy as np

In [2]:
#create a list of file names to import
#adjust this if the individual jsons have a different file name format

filenames = []
for x in range(20000,23465):
    string = str(x)+"_.json"
    filenames.append(string)

In [3]:
#create a list of dataframes built from the files
frames = []
count = 0
for name in filenames:
    df = pd.read_json("jsons-twitter-10-8-15to1-15-16/"+name)
    df2 = df.transpose()
    frames.append(df2)
    count+=1
    if count%100 == 0:
        print count

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400

In [ ]:
df2.head()

In [4]:
#concatenate all the dataframes into one big one
big_data = pd.concat(frames)

In [5]:
print len(big_data)
big_data = big_data.reset_index(drop = True)

226692

In [6]:
#remove duplicates

big_data.drop_duplicates(subset='tweet_id',inplace=True)

In [7]:
len(big_data)

17690

In [8]:
# Export as one file

big_data.to_json('chunk5.json')

# The csv is more useful for converting to other formats, but is unwieldy
# big_data.to_csv('WeekOfTweets.csv')

In [9]:
part1 = pd.read_json('chunk1.json')
part2 = pd.read_json('chunk2.json')
part3 = pd.read_json('chunk3.json')
part4 = pd.read_json('chunk4.json')
part5 = pd.read_json('chunk5.json')

In [10]:
everything = pd.concat([part1,part2,part3,part4,part5])

In [13]:
len(everything)

125390

In [12]:
everything.drop_duplicates(subset='tweet_id',inplace=True)

In [15]:
everything.head()

,content,data_point,lat,lon,raw_source,time,tweet_id,user,user_location
0,ﺃَﺳْﺘَﻐْﻔِﺮُ اﻟﻠَّﻪَ ﻭَﺃَﺗُﻮﺏُ ﺇِﻟَﻴْﻪِ .,none,46.758696,24.695512,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 03:09:57 +0000 2015,651957677829025792,1624568515,استغفر الله واتوب إليه
1,ﺳُﺒْﺤـﺎﻥَ اﻟﻠﻪِ ﻭَﺑِﺤَﻤْـﺪِﻩِ ﻋَﺪَﺩَ ﺧَﻠْـﻘِﻪ ...,none,46.758696,24.695512,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 03:10:32 +0000 2015,651957822356365314,1624568515,استغفر الله واتوب إليه
10,﴿ وَ اشرقت الأرض بنوُرِ ربها ﴾\nيكفيك هذا لتُح...,none,46.696369,24.758625,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 03:13:54 +0000 2015,651958670104760320,458978801,Riyadh
100,اللهـم ما أصبـح بي مـن نعـمة أو بأحـد مـن خلـق...,none,46.678870,24.625350,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 04:30:28 +0000 2015,651977937193832448,389860963,Riyadh
1000,الله معاك يا#اخضر #السعودية_الأمارات (...,none,46.743724,24.660585,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 15:36:30 +0000 2015,652145551153098752,401903480,Riyadh

In [16]:
everything.reset_index(drop=True, inplace=True)

In [17]:
everything.to_json('full_dataset.json')