In [1]:
import pandas as pd

In [2]:
tweet_list = pd.read_json("WeekOfTweets.json")

In [3]:
tweet_list.head(10)

,content,data_point,index,lat,lon,raw_source,time,tweet_id,user,user_location
0,ïºƒÙïº³Ù’ïº˜Ùï»Ù’ï»”Ùïº®Ù Ø§ï»Ÿï» ÙÙ‘ï»ªÙ ï»­ÙïºƒÙïº—Ùï»®ïºÙ ïº‡Ùï»ŸÙï»´Ù’ï»ªÙ .,none,651957677829,46.758696,24.695512,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 03:09:57 +0000 2015,651957677829025792,1624568515,Ø§Ø³ØªØºÙØ± Ø§Ù„Ù„Ù‡ ÙˆØ§ØªÙˆØ¨ Ø¥Ù„ÙŠÙ‡
1,ïº³Ùïº’Ù’ïº¤Ù€ïºï»¥Ù Ø§ï»Ÿï» ï»ªÙ ï»­Ùïº‘Ùïº¤Ùï»¤Ù’Ù€ïºªÙï»©Ù ï»‹ÙïºªÙïº©Ù ïº§Ùï» Ù’Ù€ï»˜Ùï»ª ...,none,651957822356,46.758696,24.695512,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 03:10:32 +0000 2015,651957822356365314,1624568515,Ø§Ø³ØªØºÙØ± Ø§Ù„Ù„Ù‡ ÙˆØ§ØªÙˆØ¨ Ø¥Ù„ÙŠÙ‡
10,ï´¿ ÙˆÙ Ø§Ø´Ø±Ù‚Øª Ø§Ù„Ø£Ø±Ø¶ Ø¨Ù†ÙˆÙØ±Ù Ø±Ø¨Ù‡Ø§ ï´¾\nÙŠÙƒÙÙŠÙƒ Ù‡Ø°Ø§ Ù„ØªÙØ­...,none,651958670104,46.696369,24.758625,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 03:13:54 +0000 2015,651958670104760320,458978801,Riyadh
100,Ø§ÙˆÙ„ ÙŠÙˆÙ… ØªØ£Ø®ÙŠØ± ØŒØ¹Ø² Ø§Ù„Ù„Ù‡ ÙÙ„Ø­Øª ğŸ™†ğŸ»ğŸ˜ (@ Khurais ...,none,651963591256,46.775146,24.722916,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 03:33:27 +0000 2015,651963591256576000,3082054530,"Riyadh, Kingdom of Saudi Arabia"
1000,Ø§Ù„ÙŠÙˆÙ… ÙÙŠ #Ø§Ù„Ø±ÙŠØ§Ø¶ \n#Ø¯ÙˆØ±Ø© #Ø§Ø³Ø±Ø§Ø±_Ø§Ù„Ø§Ø±Ù‚Ø§Ù…\nÙ…Ø¹ Ø§Ù„...,none,651984206730,46.691979,24.628251,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 04:55:22 +0000 2015,651984206730526720,460181902,
10000,"ğŸ’™Ø§Ù„Ù…Ø«Ù‚ÙÙˆÙ† Ùˆ Ø§Ù„Ù…Ø±ÙˆØ±ğŸ’™ @ Riyadh, Saudi Arabia h...",none,652112285062,46.772800,24.640800,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 13:24:19 +0000 2015,652112285062725632,732883772,Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©
10001,ÙˆØ§Ù†ØªÙ… Ø¨Ø®ÙŠØ± Ù…Ø¹Ù‡Ø¯ÙŠ ğŸ’šğŸƒ @ Ø·Ø±ÙŠÙ‚ Ø§Ù„Ù…Ù„Ùƒ Ø¹Ø¨Ø¯Ø§Ù„Ù„Ù‡ htt...,none,652112985557,46.599580,24.726507,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 13:27:06 +0000 2015,652112985557716992,251349783,riyadh
10002,"With Nahar, ABDULLAH, and Mu3taz at AlSunbulah...",none,652113084467,46.673940,24.698700,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 13:27:29 +0000 2015,652113084467687424,532669416,
10003,Just posted a photo @ Saudi Consulting Service...,none,652113179116,46.703143,24.700467,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 13:27:52 +0000 2015,652113179116335104,231756199,"Riyadh, Saudi Arabia"
10004,I'm at Ø·Ø±ÙŠÙ‚ Ø£Ø¨Ùˆ Ø¨ÙƒØ± Ø§Ù„Ù„ÙŠ ÙŠÙ‚ÙˆÙ„Ù‘Ùƒ Ø£ØªØ­Ø¯Ø§Ùƒ ØªÙˆØµÙ„ ht...,none,652113306841,46.696593,24.756683,"{u'contributors': None, u'truncated': False, u...",Thu Oct 08 13:28:22 +0000 2015,652113306841448448,459295806,"Riyadh,SA"

In [14]:
print len(tweet_list)

99451

In [19]:
#de duplicate

tweet_list.drop_duplicates(subset='tweet_id',inplace=True)

In [20]:
print len(tweet_list)

13643

In [4]:
# Search for Arabic terms using unicode
# It works on English too

def count_search_terms(arabic_word):
    j=0
    search_term = unicode(arabic_word, encoding="utf-8")
    for row in tweet_list.itertuples():
        if search_term in row[1]:
            j+=1
    return j

In [21]:
count_search_terms("ØµÙ„Ù‰")

41

In [38]:
count_search_terms("pray")

2

In [39]:
# Now count multiple terms at once
# The function counts both Arabic and English versions

prayer_dict = {'pray':'ØµÙ„Ù‰','prayer':'ØµÙ„Ø§Ø©','mosque':'Ù…Ø³Ø¬Ø¯','Islam':'Ø§Ù„Ø¥Ø³Ù„Ø§Ù…'}
food_dict = {'food':'Ø·Ø¹Ø§Ù…','eating':'ÙŠØªÙ†Ø§ÙˆÙ„ Ø§Ù„Ø·Ø¹Ø§Ù…','falafel':'ÙÙ„Ø§ÙÙ„','shawarma':'Ø§Ù„Ø´Ø§ÙˆØ±Ù…Ø§',
            'starbucks':'Ø³ØªØ§Ø±Ø¨ÙƒØ³','mcdonalds':'Ù…Ø§ÙƒØ¯ÙˆÙ†Ø§Ù„Ø¯Ø²'}
traffic_dict = {'parking lot':'Ø¨Ø§Ø­Ø© ÙˆÙ‚ÙˆÙ Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª','parking':'Ù…ÙˆÙ‚Ù','park':'Ø¥ÙŠÙ‚Ø§Ù','park_alt':'ÙˆÙ‚ÙˆÙ',
               'traffic':'Ø­Ø±ÙƒØ© Ø§Ù„Ù…Ø±ÙˆØ±','park_alt2':'ØªÙ‚Ù','cars':'Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª','car':'Ø§Ù„Ù…Ø±ÙƒØ¨Ø§Øª'}
nightlife_dict = {'party':'Ø­Ø²Ø¨','dance':'Ø±Ù‚Øµ','nightclub':'Ù…Ù„Ù‡Ù‰','bookstore':'Ù…ÙƒØªØ¨Ø©'}

def count_category(search_dict):
    i=0
    for key in search_dict:
        count = count_search_terms(search_dict[key])
        count = count + count_search_terms(key)
        i+=count
        print key + ": " + str(count)
    print "category total: " + str(i)

In [35]:
count_category(prayer_dict)

pray: 43
Islam: 31
mosque: 9
prayer: 76
category total: 159

In [40]:
count_category(food_dict)

eating: 0
food: 31
starbucks: 192
falafel: 6
shawarma: 2
mcdonalds: 28
category total: 259

In [37]:
count_category(traffic_dict)

traffic: 0
parking: 9
park_alt: 8
cars: 8
park_alt2: 7
park: 5
parking lot: 0
car: 20
category total: 57

In [41]:
count_category(nightlife_dict)

dance: 6
party: 10
bookstore: 27
nightclub: 0
category total: 43

In [43]:
# Add a "category" column
tweet_list['category'] = ""

In [ ]:
# Function to fill the categories